ul {
  list-style-type: none;
}

li {
  margin: 5px;
}

.Header {
  display: flex;
  justify-content: center;
}

.SpriteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Sprite {
}

.Modal-Show {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Modal-Hide {
  display: none;
}

.BioBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ArtContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#OffArt {
  height: 400px;
  width: max-width;
}
