ul {
  list-style-type: none;
}

li {
  margin: 5px;
}

.Header {
  display: flex;
  justify-content: center;
}

.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  outline: solid red;
}

.Sprite {
  outline: solid red;
  /* margin: 5px; */
}

.Modal {
  background-color: grey;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.BioBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: solid red;
}

#ArtContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#OffArt {
  height: 400px;
  width: max-width;
}
